# standard cache files
**/__pycache__/
*.egg-info/
# folders
/data/
/.venv/
/workdir
/crashes
/datatest
/notebooks
/config
# file patterns
*.log
# specific files
notes.md
src/megpypes/pipelines/initial_preproc.py